<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../assets/estilos.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Julee&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap" rel="stylesheet">
	<title>Productos</title>
</head>

<body>
	
	<header>
		<!--logo y rrss encabezado -->
	
			<section id="encabezado">
				<div>
					<ul class="isotipo">
						<li><img class="logo" src="../img/logo.jpg" alt="logo_kepe"> </li>
						<li><h1>K'epe bags</h1></li>
					</ul>
				</div>	
	
				<div>
					<ul class="rrss">
						<li><a href="http://www.facebook.com"><img class="rrss__img" src="../img/facebook.png" alt="facebook"></a></li>
						<li><a href="http://www.instagram.com"><img class="rrss__img" src="../img/instagram.png" alt="instagram"></a></li>
						<li><a href="http://www.youtube.com"><img class="rrss__img" src="../img/youtube.png" alt="youtube"></a></li>
					</ul>
				</div>
			</section>
		<!-- fin logo y rrss encabezado -->		
	
				<!-- menú navegación -->
			<nav class="menu">
				<div>
					<ul>
						<li><a class="menuEfectos" href="../index.html">Home</a></li>
						<li><a class="menuEfectos" href="productos.html">Productos</a></li>
						<li><a class="menuEfectos" href="tiendas.html">Tiendas</a></li>
						<li><a class="menuEfectos" href="quienessomos.html">Quiénes somos</a></li>
						<li><a class="menuEfectos" href="contacto.html">Contacto</a></li>
					</ul>	
				</div>
			</nav>
		</header>
				<!-- fin menú navegación -->
	
	<!-- sección productos -->
	<main>
		<h2>Productos</h2>
		<section class="productos">

			<div class= "listaProductos">
  	            <img class="productos__img" src="../img/rojo.jpg" alt="alforja_roja">
				<ul class="listaProductos__tipo">
					<h5>Panqara</h5> 
					<br>  
					<li>→ color rojo</li>
					<li>→ transformable a mochila</li>
					<li>→ impermeable</li>
					<li>→ capacidad hasta 20 litros</li>
					<li>→ bolsillo interno para laptop</li>
					<li>→ incluye pompón tricolor</li>
				</ul>
			</div>	

			<div class= "listaProductos">
				<img class="productos__img" src="../img/negro.jpg" alt="alforja_negra">
				<ul class="listaProductos__tipo">
					<h5>Bombín</h5>
					<br>
					<li>→ color negro</li>
					<li>→ transformable a mochila</li>
					<li>→ impermeable</li>
					<li>→ capacidad hasta 20 litros</li>
					<li>→ bolsillo interno para laptop</li>
					<li>→ incluye pompón tricolor</li>
				</ul>
		  	</div>	

			<div class= "listaProductos">
				<img class="productos__img" src="../img/amarillo.jpg" alt="alforja_amarilla">
				<ul class="listaProductos__tipo">
					<h5>Ancuaque</h5>
					<br>
					<li>→ color amarillo</li>
					<li>→ transformable a mochila</li>
					<li>→ impermeable</li>
					<li>→ capacidad hasta 20 litros</li>
					<li>→ bolsillo interno para laptop</li>
					<li>→ incluye pompón tricolor</li>
				</ul>
		  	</div>	

			<div class= "listaProductos">
				<img class="productos__img" src="../img/naranjo.jpg" alt="alforja_naranja">
				<ul class="listaProductos__tipo">
					<h5>Cavancha</h5>
					<br>
					<li>→ color naranja</li>
					<li>→ transformable a mochila</li>
					<li>→ impermeable</li>
					<li>→ capacidad hasta 20 litros</li>
					<li>→ bolsillo interno para laptop</li>
					<li>→ incluye pompón tricolor</li>
				</ul>
		  	</div>
		</section>

	<!-- fin sección productos -->

	<!-- footer -->
	<footer class="pieDePagina">
		<p class="textoFooter">&#169 2021 Todos los derechos reservados. Sitio desarrollado por Pablo Aguila</p>
		
	</footer>
	<!-- fin footer -->

</body>
</html>