<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/estilos.css">
  <link href="https://fonts.googleapis.com/css2?family=Julee&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap" rel="stylesheet">
	<title>Quiénes somos</title>
</head>

<body>

  <header>
		<!--logo y rrss encabezado -->
	
			<section id="encabezado">
				<div>
					<ul class="isotipo">
						<li><img class="logo" src="../img/logo.jpg" alt="logo_kepe"> </li>
						<li><h1>K'epe bags</h1></li>
					</ul>
				</div>	
	
				<div>
					<ul class="rrss">
						<li><a href="http://www.facebook.com"><img class="rrss__img" src="../img/facebook.png" alt="facebook"></a></li>
						<li><a href="http://www.instagram.com"><img class="rrss__img" src="../img/instagram.png" alt="instagram"></a></li>
						<li><a href="http://www.youtube.com"><img class="rrss__img" src="../img/youtube.png" alt="youtube"></a></li>
					</ul>
				</div>
			</section>
		<!-- fin logo y rrss encabezado -->		
	
				<!-- menú navegación -->
			<nav class="menu">
				<div>
					<ul>
						<li><a class="menuEfectos" href="../index.html">Home</a></li>
						<li><a class="menuEfectos" href="productos.html">Productos</a></li>
						<li><a class="menuEfectos" href="tiendas.html">Tiendas</a></li>
						<li><a class="menuEfectos" href="quienessomos.html">Quiénes somos</a></li>
						<li><a class="menuEfectos" href="contacto.html">Contacto</a></li>
					</ul>	
				</div>
			</nav>
		</header>
				<!-- fin menú navegación -->

  <!-- sección nosotros -->

 <main>
	<h2>Quiénes somos</h2>
    <section class="nosotros">
		<div class="nosotros__texto">
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem, voluptatum modi expedita in ex voluptate sit architecto iure exercitationem facilis doloremque dicta voluptates magnam veniam totam vitae vero, placeat laudantium adipisci quis nostrum quas, similique incidunt saepe? Molestias tenetur natus qui vitae repudiandae quod sapiente laboriosam eligendi iste deserunt nobis commodi optio, possimus perferendis corporis voluptate veritatis fuga cupiditate accusamus. Id consequatur eius magni aperiam est earum tenetur? Sint, est deserunt. Culpa exercitationem, natus omnis sequi harum maiores quisquam maxime eos eius voluptatum cupiditate ullam nesciunt a nostrum. Obcaecati, quos dolor. Dolorum exercitationem ipsam architecto doloribus error quam culpa inventore? <br><br>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga nulla, suscipit dolore iure accusamus voluptatem corporis laboriosam, ipsam aspernatur facilis magnam hic deserunt mollitia quasi reprehenderit ratione vel doloremque dolorum. Corporis saepe deserunt ut, modi iste ea quidem temporibus beatae voluptatibus exercitationem aperiam excepturi laudantium minima similique! Necessitatibus sapiente possimus consequatur voluptatum ipsam asperiores, reprehenderit illum rerum ad dolorum? Explicabo quo dolorem laborum? Cum neque mollitia voluptatibus, explicabo iusto officia omnis maxime quibusdam reiciendis qui id nostrum corrupti, ducimus modi velit necessitatibus totam. Quo, odit repellendus. Itaque tenetur accusamus tempore iure! Voluptatibus voluptates quos quam voluptate illo cum temporibus quisquam.
		</div> 
		<div class="nosotros__media">
			<img class="nosotros__img" src="../img/colchane.JPG">
			<iframe class="nosotros__video" src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fkepebikebags%2Fvideos%2F415788629014581%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
	    </div>
    </section>
  </main>


    <!-- fin sección nosotros -->

	<!-- footer -->
	<footer class="pieDePagina">
		<p class="textoFooter">&#169 2021 Todos los derechos reservados. Sitio desarrollado por Pablo Aguila</p>
		
	</footer>
	<!-- fin footer -->

</body>
</html>